
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.topnav {
    padding: 0;
    overflow : hidden;
    background-color: #3b75d3;
}
.topnav-item {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    border-right: 1px solid #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    text-decoration:none;
}

.topnav-item a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration:none;
}

.topnav-item:link{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration:none;
}

.topnav-item a:hover{
    float: left;
    color: #d83220;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration:none;
}


.topnav-item:active{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration:none;
}

.topnav-item:visited{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration:none;
}
/*
.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}
*/
.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
}

.post-title {
    padding: 20px 40px;
    margin: 0;
    cursor : pointer;
}

.post-thumb {
    margin: 0;
    padding: 3px;
    width: 150px;
    height: 150px;
    border: 2px solid snow;
}

.post-image {
    width: 640px;
    height: 640px;
    cursor: pointer;
}

.login-title {
    text-align:center
}

.title {
    text-align:center   
}

@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975); 
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}

/* Add your styles here */
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #2474E1;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    margin: auto;
    display: block;
    border: none;
    cursor: pointer;
    width: 80%;
}

button:hover {
    opacity: 0.8;
}

.form {
    border: 3px solid #f1f1f1;
}

.labels {
    margin-left: 8px;
    margin-top : 8px;

}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    margin-left: 8px;
    margin-top : 8px;
    border: 3px solid red;
}

#register-link {
    margin-top : 80px;
    margin-left: 400px;
    margin-bottom: 60px;
}
#login-link {
    margin-top : 80px;
    margin-left: 400px;
    margin-bottom: 60px;
}
.likes:link {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}

.likes:hover {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}
.likes:active {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}
.likes:visited {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}
.post-comments:link {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}

.post-comments:hover {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}
.post-comments:active {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}
.post-comments:visited {
    font-weight: 600;
    color: #262626;
    text-decoration: none
}
.glyphicon.glyphicon-heart {
    font-size: 35px;
    color: #ea0a0b;
}
.heart:hover{
    cursor : pointer
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #d05fd8;
  border-color: #d05fd8;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  color: #ffffff;
  background-color: #cd78d3;
  border-color: #cd78d3;
}

#profile-username {
    text-align:center;
    color: #262626;
}

#profile-username-inner {
    color: #262626;
    display: 'inline-block';
}

.profile-top {
    margin-bottom: 20px;
    list-style: none;
    text-align: center;

}

.profile-top-item {
    display :'inline';
    float : none;
}

#dropdownMenuButton:after {
    content: '\2807';
    font-size: 30px;
    background-color: #ffffff;
    cursor : pointer;
    float: right;
}

.dropdown-menu {
    top: 8px;
    right: 16px;
    float: right;
}

.dropdown-menu.show {
    position: relative !important;
}

#home {
    cursor : pointer;
}
